 #if($turbineUtils.isSiteAdmin($user))
 <div id="main">
	<div id="ccfImageScanDiv" style="display:none">
		<TABLE>
			<TR>
				<TD colspan="4" align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:18px;"><b>Image Scan data validation</b></font></TD>
			</TR>
			<TR>
				<TD colspan="4" align="right">&nbsp;</TD>
			</TR>
			<TR>
				<TD>Total Number of Conflicted Records: </TD>
				<TD><input id="conflictCount" type="text" style="text-align: right" size="4" readonly></TD>
				<TD><input type="image" src="$content.getURI("images/refresh.png")" title="Refresh counts#" onclick="XNAT.admin.ccfImageScanDataFixConf.getConflictedDataCounts()"/> </TD>
				<TD><input type="submit" class="btn btn-sm" id="resolveData" style="display:none" value="Resolve" title="Resolve Data Issues" onclick="XNAT.admin.ccfImageScanDataFixConf.resolveData()"/></TD>
				<TD><input type="submit" class="btn btn-sm" id="showData" value="View Conflicts" title="View Conflicted Data" onclick="XNAT.admin.ccfImageScanDataFixConf.showData()"/></TD>
			</TR>
		</TABLE>
	</div>
		<script>
			XNAT.admin.ccfImageScanDataFixConf.getConflictedDataCounts();
			document.getElementById("ccfImageScanDiv").style.display='block';
		</script>
	<div>
		<table>
			<tr>
				<td>
					<p style="color:#727272">
						Users were unable to delete session due to issue in Image Scan data extension value. This plugin will fix the data so that users should be able to delete data. For more details refer <a target="_blank" href="https://issues.humanconnectome.org/browse/BUG-186">Session Deletion Issue</a>.
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
    <div class="clearfix clear"></div>
<div id="conflicted-div">
	<div id="conflicted-data-table" style="max-height:600px;overflow-y:auto" />
</div>
 #else
    <div class="clearfix clear"></div>
    <div class="error">
            <p><strong>Security Warning</strong></p>
            <p>You do not have privileges to access this page.</p>
    </div>
#end